{%- style -%}
  #shopify-section-{{ section.id }} {
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'buttons' -%}
          .my-custom-btn-{{ forloop.index }}{
      --color-button-background: {{ block.settings.color_button_backgroun }};
      --color-color-button-label: {{ block.settings.color_button_label }};
      --color-color-button-border: {{ block.settings.color_button_border }};
      --hover-color-button-background: {{ block.settings.hover_color_button_backgroun }};
      --hover-color-button-border: {{ block.settings.hover_color_button_border }};
      --hover-color-button-label: {{ block.settings.hover_color_button_label }};
    }
    .my-custom-btn-{{ forloop.index }}{
      background-color: var(--color-button-background);
      color: var(--color-color-button-label);
      border: 1px solid var(--color-color-button-border);
    }
    .my-custom-btn-{{ forloop.index }}:hover{
      background-color: var(--hover-color-button-background);
      border: 1px solid var(--hover-color-button-border);
      color: var(--hover-color-button-label);
    }
      {%- endcase -%}
    {%- endfor -%}
  }
{%- endstyle -%}
{{ 'custom-style-buttons.css' | asset_url | stylesheet_tag }}
<section id="{{ section.settings.id_for_anchor }}" class="attend-the-series {{ section.settings.secon_class }}">
  <div class="page-width">
    <div class="attend-the-series__wrapper">
      {%- if section.settings.nubmer_navigat != blank -%}
        <div class="attend-the-series__wrapper_num-navi" 
          style=" color: {{ section.settings.color_nubmer }}; background-color:{{ section.settings.color_backgroun_number }};"
        >
          {{ section.settings.nubmer_navigat }}
      </div>
      {%- endif -%}
      <div
        class="border-line {% if section.settings.border_line == true %}on{% endif %}"
        style="border-color:{{ section.settings.color_border_line }};"
      >
        .
      </div>
      {%- if section.settings.heading != blank -%}
        <div class="attend-the-series__wrapper_heading" style=" color:{{ section.settings.color_heading_label }};">{{ section.settings.heading }}</div>
      {%- endif -%}
      <div class="inner-box">
        <div class="inner-box__block-content">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'title' -%}
                {%- if block.settings.title != blank -%}
                  <div class="inner-box__block-content_title" style=" color: {{ block.settings.color_title_label }};">
                    {{ block.settings.title }}
                  </div>
                {%- endif -%}
              {%- when 'heading' -%}
                {%- if block.settings.heading != blank -%}
                  <div class="inner-box__block-content_heading" style=" color: {{ block.settings.color_heading_label }};">
                    {{ block.settings.heading }}
                  </div>
                {%- endif -%}
              {%- when 'content' -%}
                {%- if block.settings.content != blank -%}
                  <div class="inner-box__block-content_text" style=" color: {{ block.settings.color_content_label }};">
                    {{ block.settings.content }}
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
          <div class="inner-box__block-content_btn-wrap">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'buttons' -%}
                  {%- if block.settings.button_label_1 != blank -%}
                      <a
                        {% if block.settings.button_link_1 == blank %}
                          role="link" aria-disabled="true"
                        {% else %}
                          href="{{ block.settings.button_link_1 }}"
                        {% endif %}
                        class="my-custom-btn my-custom-btn-{{ forloop.index }}"
                      >
                        {{- block.settings.button_label_1 | escape -}}
                      </a>
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
        <div class="inner-box__block-events">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'events' -%}
                {%- if block.settings.date != blank -%}
                  <div class="inner-box__block-events_item" style=" background: {{block.settings.background_box }};">
                    <div class="inner-box__block-events_item_date" style=" color: {{ block.settings.color_date_label }}; background: {{block.settings.background_date }};">{{ block.settings.date }}</div>
                    {%- if block.settings.content != blank -%}
                      <div class="inner-box__block-events_item_content" style=" color: {{ block.settings.color_content_label }};">{{ block.settings.content }}</div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .attend-the-series.{{ section.settings.secon_class }}{
    background-image: url({{ section.settings.background | image_url: width: 3840 }});
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }
</style>
{% schema %}
{
  "name": "attend-the-series",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "nubmer_navigat",
      "default": "1",
      "label": "Section number for navigation"
    },
    {
      "type": "color",   
      "id": "color_nubmer",
      "label": "Color Number",
      "default": "#1D2228"
    },
    {
      "type": "color",
      "id": "color_backgroun_number",
      "label": "Color Backgroun Number",
      "default": "#1D2228"
    },
    {
      "type": "checkbox",
      "id": "border_line",
      "default": false,
      "label": "ADD/REMOVE LINE"
    },
    {
      "type": "color",
      "id": "color_border_line",
      "label": "Color Border Line",
      "default": "#1D2228"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Attend the series",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "color_heading_label",
      "label": "Color Heading Label",
      "default": "#1D2228"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "id_for_anchor",
      "label": "ID For Navigation Anchor"
    },
    {
      "type": "text",
      "id": "secon_class",
      "default": "thewin",
      "label": "class for image background"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "title",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "color_title_label",
          "label": "Color Title Label",
          "default": "#1D2228"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "color_heading_label",
          "label": "Color Heading Label",
          "default": "#1D2228"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "color",
          "id": "color_content_label",
          "label": "Color Content Label",
          "default": "#1D2228"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "color_button_backgroun",
          "label": "Button Background Color",
          "default": "rgba(29, 34, 40, 0)"
        },
        {
          "type": "color",
          "id": "color_button_label",
          "label": "Button Color Label",
          "default": "#121212"
        },
        {
          "type": "color",
          "id": "color_button_border",
          "label": "Button Color Border",
          "default": "#121212"
        },
        {
          "type": "color",
          "id": "hover_color_button_backgroun",
          "label": "Hover Button Background Color",
          "default": "#121212"
        },
        {
          "type": "color",
          "id": "hover_color_button_border",
          "label": "Hover Button Color Border",
          "default": "#121212"
        },
        {
          "type": "color",
          "id": "hover_color_button_label",
          "label": "Hover Button Color Label",
          "default": "#fff"
        }
      ]
    },
    {
      "type": "events",
      "name": "Events",
      "limit": 4,
      "settings": [
        {
          "type": "color",
          "id": "background_box",
          "label": "Background Box",
          "default": "#fff"
        },
        {
          "type": "inline_richtext",
          "id": "date",
          "label": "Date"
        },
        {
          "type": "color",
          "id": "color_date_label",
          "label": "Color Date Label",
          "default": "#1D2228"
        },
        {
          "type": "color",
          "id": "background_date",
          "label": "Background Date",
          "default": "#E5BE5E"
        },
        {
          "type": "inline_richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "color",
          "id": "color_content_label",
          "label": "Color Content Label",
          "default": "#1D2228"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Attend The Series"
    }
  ]
}
{% endschema %}
