{%- style -%}
  #shopify-section-{{ section.id }} {
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'buttons' -%}
      --color-button-background: {{ block.settings.color_button_backgroun }};
      --color-color-button-label: {{ block.settings.color_button_label }};
      --color-color-button-border: {{ block.settings.color_button_border }};
      --hover-color-button-background: {{ block.settings.hover_color_button_backgroun }};
      --hover-color-button-border: {{ block.settings.hover_color_button_border }};
      --hover-color-button-label: {{ block.settings.hover_color_button_label }};
      {%- endcase -%}
    {%- endfor -%}
  }
{%- endstyle -%}
{{ 'custom-style-buttons.css' | asset_url | stylesheet_tag }}
<div class="banner-page-paid {{ section.settings.class }}">
  <div class="page-paid page-width">
    <div class="banner-innerr__box">
      {%- for block in section.blocks -%}
        {%- case block.type -%}

          {%- when 'heading' -%}
            {%- if block.settings.heading != blank -%}
              <h2 class="banner-innerr__box_heading" style=" color: {{ block.settings.color_heading_label }};">
                {{ block.settings.heading }}
              </h2>
            {%- endif -%}
          {%- when 'content' -%}
            {%- if block.settings.content != blank -%}
              <div class="banner-innerr__box_text" style=" color: {{ block.settings.color_content_label }};">
                <p>{{ block.settings.content }}</p>
              </div>
            {%- endif -%}
          {%- when 'buttons' -%}
            {%- if block.settings.button_label_1 != blank -%}
              <div
                class="banner-innerr__box_button"
              >
                <a
                  {% if block.settings.button_link_1 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_1 }}"
                  {% endif %}
                  class="my-custom-btn"
                >
                  {{- block.settings.button_label_1 | escape -}}
                </a>
              </div>
            {%- endif -%}
          {%- when 'social_media' -%}
            <div class="social-media__wrapper">
              {%- if block.settings.button_link1 != blank -%}
                <a
                  {% if block.settings.button_link1 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link1 }}"
                  {% endif %}
                  target="_blank"
                  class="spotify-button"
                >
                  <img
                    src="{{ block.settings.image1 | img_url: 'original' }}"
                    alt="image"
                    class="img-spotify"
                  >
                </a>
              {% endif %}

              {%- if block.settings.button_link2 != blank -%}
                <a
                  {% if block.settings.button_link2 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link2 }}"
                  {% endif %}
                  target="_blank"
                  class="youtube-button"
                >
                  <img
                    src="{{ block.settings.image2 | img_url: 'original' }}"
                    alt="image"
                    class="img-youtube"
                  >
                </a>
              {% endif %}

              {%- if block.settings.button_link3 != blank -%}
                <a
                  {% if block.settings.button_link3 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link3 }}"
                  {% endif %}
                  class="apple-music-button"
                  target="_blank"
                >
                  <img
                    src="{{ block.settings.image3 | img_url: 'original' }}"
                    alt="image"
                    class="img-apple-music"
                  >
                </a>
              {% endif %}
              {%- if block.settings.button_link4 != blank -%}
                <a
                  {% if block.settings.button_link4 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link4 }}"
                  {% endif %}
                  class="amazon-music-button"
                  target="_blank"
                >
                  <img
                    src="{{ block.settings.image4 | img_url: 'original' }}"
                    alt="image"
                    class="img-amazon-music"
                  >
                </a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
    <div class="banner-innerr__img-box">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'image' -%}
            {% if block.settings.image != blank %}
              <img
                src="{{ block.settings.image | img_url: 'original' }}"
                alt="image"
                class="img-page-paid"
              >
            {% endif %}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>
{% style %}
  .banner-page-paid.{{ section.settings.class }}{
    background-image: url({{ section.settings.background | image_url: width: 3840 }});
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
{% endstyle %}

{% schema %}
{
  "name": "banner-page-paid",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "class",
      "label": "Second class for backgroun"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background image"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "color_heading_label",
          "label": "Color Heading Label",
          "default": "#1D2228"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "color",   
          "id": "color_content_label",
          "label": "Color Content Label",
          "default": "#1D2228"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "color_button_backgroun",
          "label": "Button Background Color",
          "default": "rgba(29, 34, 40, 0)"
        },
        {
          "type": "color",
          "id": "color_button_label",
          "label": "Button Color Label",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "color_button_border",
          "label": "Button Color Border",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "hover_color_button_backgroun",
          "label": "Hover Button Background Color",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "hover_color_button_border",
          "label": "Hover Button Color Border",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "hover_color_button_label",
          "label": "Hover Button Color Label",
          "default": "#fff"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "social_media",
      "name": "Social Media",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image Spotify"
        },
        {
          "type": "url",
          "id": "button_link1",
          "label": "link Spotify"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image YouTube"
        },
        {
          "type": "url",
          "id": "button_link2",
          "label": "link YouTube"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image Apple Music"
        },
        {
          "type": "url",
          "id": "button_link3",
          "label": "link Apple Music"
        },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "Image Amazon Music"
        },
        {
          "type": "url",
          "id": "button_link4",
          "label": "link Amazon Music" 
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Page Paid"
    }
  ]
}
{% endschema %}
