<div class="banner banner-music {{ section.settings.class }}">
  <div class="banner-inner-music">
    <div class="page-width">
      <div class="banner-music-wrapper">
        <div class="banner-innerr__box">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'title_screen' -%}
                {%- if block.settings.screen_reader_text != blank -%}
                  <h1 class="screen-reader-text">
                    {{ block.settings.screen_reader_text }}
                  </h1>
                {% endif %}
              {%- when 'title' -%}
                {%- if block.settings.title != blank -%}
                  <h2 class="banner-innerr__box_title">
                    {{ block.settings.title }}
                  </h2>
                {%- endif -%}
              {%- when 'heading' -%}
                {%- if block.settings.heading != blank -%}
                  <h2 class="banner-innerr__box_heading">
                    {{ block.settings.heading }}
                  </h2>
                {%- endif -%}
              {%- when 'content' -%}
                {%- if block.settings.heading != blank -%}
                  <div class="banner-innerr__box_text">
                    <p>{{ block.settings.content }}</p>
                  </div>
                {%- endif -%}
              {%- when 'buttons' -%}
                {%- if block.settings.button_label_1 != blank -%}
                  <div
                    class="banner-innerr__box_button"
                  >
                    <a
                      {% if block.settings.button_link_1 == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link_1 }}"
                      {% endif %}
                      class="my-custom-btn {{ section.settings.style_btn }}"
                    >
                      {{- block.settings.button_label_1 | escape -}}
                    </a>
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
        {% if section.settings.hero_image != blank %}
          <div class="banner-innerr__hero-image">
            {{ section.settings.hero_image | image_url: width: 640 | image_tag }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<style>
  .banner-inner-music {
    background-image: url({{ section.settings.background | image_url: width: 3840 }});
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
</style>
{% schema %}
{
  "name": "banner-music-section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero image"
    },
    {
      "type": "select",
      "id": "style_btn",
      "options": [
        {
          "value": "gold",
          "label": "gold"
        },
        {
          "value": "blue",
          "label": "blue"
        },
        {
          "value": "white",
          "label": "white"
        }
      ],
      "default": "white",
      "label": "button color"
    },
    {
      "type": "text",
      "id": "class",
      "label": "unique class for section"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "title",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Image banner",
          "label": "Title"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "content",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "Content"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button link"
        }
      ]
    },
    {
      "type": "title_screen",
      "name": "Screen Reader Text",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "screen_reader_text",
          "label": "screen reader text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "banner-music-section"
    }
  ]
}
{% endschema %}
