{%- style -%}
  #shopify-section-{{ section.id }} {
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'buttons' -%}
      --color-button-background: {{ block.settings.color_button_backgroun }};
      --color-color-button-label: {{ block.settings.color_button_label }};
      --color-color-button-border: {{ block.settings.color_button_border }};
      --hover-color-button-background: {{ block.settings.hover_color_button_backgroun }};
      --hover-color-button-border: {{ block.settings.hover_color_button_border }};
      --hover-color-button-label: {{ block.settings.hover_color_button_label }};
      {%- endcase -%}
    {%- endfor -%}
  }
{%- endstyle -%}
{{ 'custom-style-buttons.css' | asset_url | stylesheet_tag }}
<div class="banner banner-music {{ section.settings.class }}">
  <div class="banner-inner-music">
    <div class="page-width">
      <div class="banner-music-wrapper">
        <div class="banner-innerr__box">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'title' -%}
                {%- if block.settings.title != blank -%}
                  <h2 class="banner-innerr__box_title" style=" color: {{ block.settings.color_title_label }};">
                    {{ block.settings.title }}
                  </h2>
                {%- endif -%}
              {%- when 'heading' -%}
                {%- if block.settings.heading != blank -%}
                  <h2 class="banner-innerr__box_heading" style=" color: {{ block.settings.color_heading_label }};">
                    {{ block.settings.heading }}
                  </h2>
                {%- endif -%}
                {%- when 'border_line' -%}
                  <div
                    class="border-line {% if block.settings.border_line == true %}on{% endif %}"
                    style="border-color:{{ block.settings.color_border_line }};"
                  >
                    .
                  </div>
              {%- when 'content' -%}
                {%- if block.settings.content != blank -%}
                  <div class="banner-innerr__box_text" style=" color: {{ block.settings.color_content_label }};">
                    <p>{{ block.settings.content }}</p>
                  </div>
                {%- endif -%}
              {%- when 'buttons' -%}
                {%- if block.settings.button_label_1 != blank -%}
                  <div
                    class="banner-innerr__box_button"
                  >
                    <a
                      {% if block.settings.button_link_1 == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link_1 }}"
                      {% endif %}
                      class="my-custom-btn"
                    >
                      {{- block.settings.button_label_1 | escape -}}
                    </a>
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
        {% if section.settings.hero_image != blank %}
          <div class="banner-innerr__hero-image">
            {{ section.settings.hero_image | image_url: width: 640 | image_tag }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<style>
  .banner.banner-music.{{ section.settings.class }}{
    background-image: url({{ section.settings.background | image_url: width: 3840 }});
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1920px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
  }
</style>
{% schema %}
{
  "name": "banner-music-section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero image"
    },
    {
      "type": "text",
      "id": "class",
      "label": "unique class for section"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "title",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Image banner",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "color_title_label",
          "label": "Color Title Label",
          "default": "#1D2228"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "color_heading_label",
          "label": "Color Heading Label",
          "default": "#1D2228"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "color",
          "id": "color_content_label",
          "label": "Color Content Label",
          "default": "#1D2228"
        }
      ]
    },
    {
      "type": "border_line",
      "name": "Border Line",
      "limit": 2,
      "settings": [
        {
          "type": "checkbox",
          "id": "border_line",
          "default": false,
          "label": "ADD/REMOVE LINE"
        },
        {
          "type": "color",
          "id": "color_border_line",
          "label": "Color Border Line",
          "default": "#1D2228"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "color_button_backgroun",
          "label": "Button Background Color",
          "default": "rgba(29, 34, 40, 0)"
        },
        {
          "type": "color",
          "id": "color_button_label",
          "label": "Button Color Label",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "color_button_border",
          "label": "Button Color Border",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "hover_color_button_backgroun",
          "label": "Hover Button Background Color",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "hover_color_button_border",
          "label": "Hover Button Color Border",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "hover_color_button_label",
          "label": "Hover Button Color Label",
          "default": "#fff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "banner-music-section"
    }
  ]
}
{% endschema %}
