<div class="banner banner-content banner-product">
  <div class="baner-page-book {{ section.settings.class }}">
    <div class="page-width {% if section.settings.position_content == false %}right-content{% endif %}">
      <div class="banner-innerr__box">
        {% if section.settings.Mobile_image != blank %}
          <div class="banner-product__mobile-image">
            <img
              src="{{ section.settings.Mobile_image | img_url: 'original' }}"
              alt="image"
              class="mobile-image"
            >
          </div>
        {% endif %}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              {%- if block.settings.heading != blank -%}
                <h2 class="banner-innerr__box_heading">
                  {{ block.settings.heading }}
                </h2>
              {%- endif -%}
            {%- when 'content' -%}
              {%- if block.settings.content != blank -%}
                <div class="banner-innerr__box_text">
                  <p>{{ block.settings.content }}</p>
                </div>
              {%- endif -%}
            {%- when 'description' -%}
              {%- if block.settings.description != blank -%}
                <div class="banner-innerr__box_discription">
                  <p>{{ block.settings.description }}</p>
                </div>
              {%- endif -%}
            {%- when 'buttons' -%}
              {%- if block.settings.button_label_1 != blank -%}
                <div
                  class="banner-innerr__box_button"
                >
                  <a
                    {% if block.settings.button_link_1 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_1 }}"
                    {% endif %}
                    class="buttonn"
                    {% if block.settings.button_link_1 contains "https://" %}
                      target="_blank"
                    {% endif %}
                  >
                    {{- block.settings.button_label_1 | escape -}}
                  </a>
                </div>
              {%- endif -%}
            {%- when 'social_media' -%}
              <div class="social-media__wrapper">
                {% if block.settings.image1 != blank %}
                  <div class="medis-social_button">
                    <img
                      src="{{ block.settings.image1 | img_url: 'original' }}"
                      alt="image"
                      class="image"
                    >
                  </div>
                {% endif %}
                {% if block.settings.image2 != blank %}
                  <div class="medis-social_button">
                    <img
                      src="{{ block.settings.image2 | img_url: 'original' }}"
                      alt="image"
                      class="image"
                    >
                  </div>
                {% endif %}
                {% if block.settings.image3 != blank %}
                  <div class="medis-social_button">
                    <img
                      src="{{ block.settings.image3 | img_url: 'original' }}"
                      alt="image"
                      class="image"
                    >
                  </div>
                {% endif %}
                {% if block.settings.image4 != blank %}
                  <div class="medis-social_button">
                    <img
                      src="{{ block.settings.image4 | img_url: 'original' }}"
                      alt="image"
                      class="image"
                    >
                  </div>
                {% endif %}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
      <div class="banner-innerr__img-box">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'image' -%}
              {% if block.settings.image != blank %}
                <img
                  src="{{ block.settings.image | img_url: 'original' }}"
                  alt="image"
                  class="image"
                >
              {% endif %}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{% style %}
  @media screen and (min-width: 951px) {
    .baner-page-book.{{ section.settings.class }}{
      background-image: url({{ section.settings.background | image_url: width: 3840 }});
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 740px;
      max-width: 1920px;
      width: 100%;
      margin: 0 auto;

    }
    .banner-product__mobile-image{
            display: none;
          }
  }
    @media screen and (max-width: 950px) {
          .baner-page-book.{{ section.settings.class }}{
            padding: 30px 15px 50px;
            height: 100%;
          }
          .banner-product__mobile-image{
            display: block;
          }
        }
{% endstyle %}
{% schema %}
{
  "name": "Baner Product Book",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "class",
      "label": "Second class for backgroun"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "Mobile_image",
      "label": "Mobile image"
    },
    {
      "type": "checkbox",
      "id": "position_content",
      "default": true,
      "label": "Content With Left"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "content",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "Content"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button link"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "social_media",
      "name": "Social Media",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Product Book"
    }
  ]
}
{% endschema %}
