{%- style -%}
  #shopify-section-{{ section.id }} {
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'buttons' -%}
      --color-button-background: {{ block.settings.color_button_backgroun }};
      --color-color-button-label: {{ block.settings.color_button_label }};
      --color-color-button-border: {{ block.settings.color_button_border }};
      --hover-color-button-background: {{ block.settings.hover_color_button_backgroun }};
      --hover-color-button-border: {{ block.settings.hover_color_button_border }};
      --hover-color-button-label: {{ block.settings.hover_color_button_label }};
      {%- endcase -%}
    {%- endfor -%}
  }
{%- endstyle -%}
{{ 'custom-style-buttons.css' | asset_url | stylesheet_tag }}

<div class="banner banner-content {% if request.page_type != 'index' %}banner-img{% endif %} {{ page.title }}">
  <div class="banner-innerr {{ section.settings.class }} {%- if section.settings.centered-content == true -%}banner-innerr-center{% endif %}">
    <div class="page-width">
      <div class="banner-innerr__box">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              {%- if block.settings.heading != blank -%}
                <h1 class="banner-plus-content_heading" style=" color: {{ block.settings.color_heading_label }};">
                  {{ block.settings.heading }}
                </h1>
              {% else %}
                {%- for block in section.blocks -%}
                  {%- case block.type -%}
                    {%- when 'title_screen' -%}
                      {% if block.settings.screen_reader_text != blank %}
                        <h1 class="screen-reader-text">
                          {{ block.settings.screen_reader_text }}
                        </h1>
                      {% endif %}
                  {% endcase %}
                {% endfor %}
              {% endif %}
            {%- when 'border_line' -%}
              <div
                class="border-line {% if block.settings.border_line == true %}on{% endif %}"
                style="border-color:{{ block.settings.color_border_line }};"
              >
                .
              </div>
            {%- when 'content' -%}
              {%- if block.settings.content != blank -%}
                <div class="banner-innerr__box_text" style=" color: {{ block.settings.color_content_label }};">
                  <p>{{ block.settings.content }}</p>
                </div>
              {%- endif -%}
            {%- when 'description' -%}
              {%- if block.settings.description != blank -%}
                <div
                  class="banner-innerr__box_discription"
                  style=" color: {{ block.settings.color_description_label }};"
                >
                  <p>{{ block.settings.description }}</p>
                </div>
              {%- endif -%}
            {%- when 'buttons' -%}
              <div
                class="banner-innerr__box_button-image-banner-content"
              >
                {%- if block.settings.button_label_1 != blank -%}
                  <a
                    {% if block.settings.button_link_1 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_1 }}"
                    {% endif %}
                    class="my-custom-btn"
                    id="{% if template == 'index' %}grn{% else %}navigation-anchor__link{% endif %}"
                  >
                    {{- block.settings.button_label_1 | escape -}}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
      {% if section.settings.hero_image != blank %}
        <div class="banner-innerr__hero-image">
          <img
            src="{{ section.settings.hero_image | img_url: 'original' }}"
            alt="image"
            class="banner-innerr__hero-image_img"
          >
        </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .banner-innerr.{{ section.settings.class }}{
    background-image: url({{ section.settings.background | image_url: width: 3840 }});
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
</style>

{% schema %}
{
  "name": "Banner + content blocks",
  "tag": "section",
  "class": "banner-plus-content",
  "settings": [
    {
      "type": "text",
      "id": "class",
      "label": "Second class for backgroun"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero image"
    },
    {
      "type": "checkbox",
      "id": "centered-content",
      "default": false,
      "label": "Сentered Сontent"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "Heading"
        },
        {
          "type": "color",      
          "id": "color_heading_label",
          "label": "Color Heading Label",
          "default": "#1D2228"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "color",
          "id": "color_content_label",
          "label": "Color Content Label", 
          "default": "#1D2228"
        }
      ]
    },
    {
      "type": "border_line",
      "name": "Border Line",
      "limit": 2,
      "settings": [
        {
          "type": "checkbox",
          "id": "border_line",
          "default": false,
          "label": "ADD/REMOVE LINE"
        },
        {
          "type": "color",
          "id": "color_border_line",
          "label": "Color Border Line",
          "default": "#1D2228"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "color_description_label",
          "label": "Color Description Label",
          "default": "#1D2228"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "color_button_backgroun",
          "label": "Button Background Color",
          "default": "rgba(29, 34, 40, 0)"
        },
        {
          "type": "color",
          "id": "color_button_label",
          "label": "Button Color Label",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "color_button_border",
          "label": "Button Color Border",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "hover_color_button_backgroun",
          "label": "Hover Button Background Color",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "hover_color_button_border",
          "label": "Hover Button Color Border",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "hover_color_button_label",
          "label": "Hover Button Color Label",
          "default": "#fff"
        }
      ]
    },
    {
      "type": "title_screen",
      "name": "Hidden Main Title",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "screen_reader_text",
          "label": "Hidden Main Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner + content blocks"
    }
  ]
}
{% endschema %}
