{%- style -%}
  #shopify-section-{{ section.id }} {
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'buttons' -%}
      --color-button-background: {{ block.settings.color_button_backgroun }};
      --color-color-button-label: {{ block.settings.color_button_label }};
      --color-color-button-border: {{ block.settings.color_button_border }};
      --hover-color-button-background: {{ block.settings.hover_color_button_backgroun }};
      --hover-color-button-border: {{ block.settings.hover_color_button_border }};
      --hover-color-button-label: {{ block.settings.hover_color_button_label }};
      {%- endcase -%}
    {%- endfor -%}
  }
{%- endstyle -%}
{{ 'custom-style-buttons.css' | asset_url | stylesheet_tag }}
<section id="{{ section.settings.id_for_anchor }}" class="join-group {{ section.settings.secon_class }}">
  <div class="page-width">
    <div class="join-group__wrapper">
      {%- if section.settings.nubmer_navigat != blank -%}
        <div class="join-group__wrapper_num-navi"
          style=" color: {{ section.settings.color_nubmer }}; background-color:{{ section.settings.color_backgroun_number }};"
        >
        {{ section.settings.nubmer_navigat }}
        </div>
      {%- endif -%}
      <div
        class="border-line {% if section.settings.border_line == true %}on{% endif %}"
        style="border-color:{{ section.settings.color_border_line }};"
      >
        .
      </div>
      {%- if section.settings.heading != blank -%}
        <h2 class="join-group__wrapper_heading" style=" color:{{ section.settings.color_heading_label }};">{{ section.settings.heading }}</h2>
      {%- endif -%}
      {%- if section.settings.content != blank -%}
        <div class="join-group__wrapper_text" style=" color:{{ section.settings.color_content_label }};">{{ section.settings.content }}</div>
      {%- endif -%}
      <div class="inner-box__block-content_btn-wrap">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'buttons' -%}
              {%- if block.settings.button_label_1 != blank -%}
                <div class="btn-wrap__button">
                  <a
                    {% if block.settings.button_link_1 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_1 }}"
                    {% endif %}
                    class="my-custom-btn"
                    {% if block.settings.button_link_1 contains 'https://' %}
                      target="_blank"
                    {% endif %}
                  >
                    {{- block.settings.button_label_1 | escape -}}
                  </a>
                </div>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
<style>
  .join-group.{{ section.settings.secon_class }}{
    background-image: url({{ section.settings.background | image_url: width: 3840 }});
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }
  @media screen and (max-width: 990px) {
    .join-group.{{ section.settings.secon_class }}{
      padding: 100px 0 440px 0;
      background-position: center 100%;
      background-size: auto 100%;
    }
  }
  @media screen and (min-width: 991px) {
    .join-group.{{ section.settings.secon_class }}{
      min-height: 931px
    }
  }
</style>
{% schema %}
{
  "name": "join-group",
  "tag": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "nubmer_navigat",
      "default": "1",
      "label": "Section number for navigation"
    },
    {
      "type": "color",
      "id": "color_nubmer",
      "label": "Color Number",
      "default": "#1D2228"
    },
    {
      "type": "color",
      "id": "color_backgroun_number",
      "label": "Color Backgroun Number",
      "default": "#1D2228"
    },
    {
      "type": "checkbox",
      "id": "border_line",
      "default": false,
      "label": "ADD/REMOVE LINE"
    },
    {
      "type": "color",
      "id": "color_border_line",
      "label": "Color Border Line",
      "default": "#1D2228"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Attend the series",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "color_heading_label",
      "label": "Color Heading Label",
      "default": "#1D2228"
    },
    {
      "type": "inline_richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "color",
      "id": "color_Content_label",
      "label": "Color Content Label",
      "default": "#1D2228"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "id_for_anchor",
      "label": "ID For Navigation Anchor"
    },
    {
      "type": "text",
      "id": "secon_class",
      "default": "thewin",
      "label": "class for image background"
    }
  ],
  "blocks": [
    {
      "type": "buttons",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "color_button_backgroun",
          "label": "Button Background Color",
          "default": "rgba(29, 34, 40, 0)"
        },
        {
          "type": "color",
          "id": "color_button_label",
          "label": "Button Color Label",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "color_button_border",
          "label": "Button Color Border",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "hover_color_button_backgroun",
          "label": "Hover Button Background Color",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "hover_color_button_border",
          "label": "Hover Button Color Border",
          "default": "#5491D6"
        },
        {
          "type": "color",
          "id": "hover_color_button_label",
          "label": "Hover Button Color Label",
          "default": "#fff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Join Group"
    }
  ]
}
{% endschema %}
